
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status , #no_of_objects 
{
font-size: 18px;

}

body{
 background-size: cover;
 background-position: center;
 background: linear-gradient(#ffa7dc 0% , #abc5ff 100%);
}

canvas{
    border-radius: 5px;
    box-shadow: 5px 5px 100px #3c3232 ;
    margin-top: 30px;
}